@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Italiana:regular);

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.footer__copy::after,
[class^=_icon--]::before,
[class*=_icon--]::before {
  font-family: icons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

[class^=_icon--]::before,
[class*=_icon--]::before {
  display: block;
}

._icon--arrow:before {
  content: "\e900";
}

._icon--clock:before {
  content: "\e901";
}

._icon--facebook:before {
  content: "\e902";
}

._icon--geo:before {
  content: "\e903";
}

._icon--instagram:before {
  content: "\e904";
}

._icon--linkedIn:before {
  content: "\e905";
}

._icon--medium:before {
  content: "\e906";
}

._icon--play:before {
  content: "\e907";
}

._icon--quotes_end:before {
  content: "\e908";
}

._icon--quotes_start:before {
  content: "\e909";
}

._icon--star:before {
  content: "\e90a";
}

._icon--tiktok:before {
  content: "\e90b";
}

._icon--twitter:before {
  content: "\e90c";
}

._icon--youtube:before {
  content: "\e90d";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

._lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #222220;
}

.loaded body {
  opacity: 1;
  transition: opacity 0.3s;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 100.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*="--ibg"] {
  position: relative;
}

[class*="--ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*="--ibg_contain"] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block-header {
  display: grid;
  gap: 1.25rem;
  justify-items: start;
}

.block-header__label {
  line-height: 156.25%;
  /* 25px/16 */
  text-transform: capitalize;
}

.block-header__title {
  color: #C1B081;
  text-transform: capitalize;
  font-family: "Italiana";
  font-size: calc(24px + 24 * (100vw - 320px) / 1600);
  line-height: 118.75%;
  /* 57px/48 */
}

.block-header__text {
  display: grid;
  gap: 1.25rem;
  line-height: 156.25%;
  /* 25px/16 */
}

.block-header__text blockquote {
  font-style: italic;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 156.25%;
  /* 25px/16 */
  color: #222220;
  background-color: #C1B081;
  padding: 0.625rem 2.5rem;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 3rem;
  border-radius: 50px;
}

.btn:hover {
  background-color: #C1B081;
  color: #FFFFFF;
}

.btn--border {
  color: #C1B081;
  background-color: transparent;
  border: 0.0625rem solid #C1B081;
}

.btn--border:hover {
  background-color: #C1B081;
  color: #FFFFFF;
}

.btn._fw {
  width: 100%;
}

.header {
  position: relative;
  z-index: 5;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: calc(10px + 10 * (100vw - 320px) / 1600);
  min-height: 152px;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__logo {
  width: 217px;
  position: relative;
  z-index: 5;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: calc(10px + 37 * (100vw - 320px) / 1600);
       column-gap: calc(10px + 37 * (100vw - 320px) / 1600);
  row-gap: 0.625rem;
}

.menu__link {
  color: #C1B081;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  text-decoration: underline;
}

.actions-header {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: calc(10px + 37 * (100vw - 320px) / 1600);
       column-gap: calc(10px + 37 * (100vw - 320px) / 1600);
  row-gap: 0.3125rem;
  align-items: center;
  justify-content: flex-end;
}

.actions-header__link {
  color: #C1B081;
  transition: all 0.3s ease 0s;
}

.actions-header__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
  background-color: #222220;
  color: #C1B081;
}

.footer a {
  color: #C1B081;
}

.footer::before,
.footer::after {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.footer::before {
  content: "";
  left: 0;
  bottom: 0;
  background: url(../img/footer/bgd_left.svg) left bottom/23% no-repeat;
}

.footer::after {
  content: "";
  right: 0;
  top: 0;
  background: url(../img/footer/bgd_right.svg) right top/33% no-repeat;
}

.footer__body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 92px;
  padding-bottom: 45px;
}

.footer__content {
  padding-right: 40px;
}

.footer__logo {
  justify-self: center;
  align-self: center;
  width: 287px;
}

.footer__menu:not(:last-child) {
  margin-bottom: 40px;
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.625rem;
  -moz-column-gap: 42px;
       column-gap: 42px;
}

.footer__copy {
  position: relative;
  padding-top: 42px;
  padding-bottom: 35px;
  text-align: center;
  line-height: 187.5%;
  /* 30px/16 */
  border-top: 0.0625rem solid #C1B081;
}

.footer__copy::after {
  position: absolute;
  bottom: 7.9375rem;
  right: -6.25rem;
  color: #C1B081;
  transform: rotate(-90deg);
  display: flex;
  justify-content: end;
  content: "\e900";
  font-size: 2.0625rem;
}

.menu-footer__title {
  font-family: Italiana;
  font-size: 1.25rem;
  line-height: 120%;
  /* 24px/20 */
  text-transform: capitalize;
  transition: all 0.5s;
}

.menu-footer__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.menu-footer__title::marker {
  display: none;
}

._spoiler-init .menu-footer__title {
  position: relative;
  cursor: pointer;
}

._spoiler-init .menu-footer__title::before,
._spoiler-init .menu-footer__title::after {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.125rem;
  top: 50%;
  right: 0;
  background-color: #C1B081;
  transition: all 0.5s ease 0s;
}

._spoiler-init .menu-footer__title::before {
  transform: translate(-75%, -50%) rotate(45deg);
}

._spoiler-init .menu-footer__title::after {
  transform: translate(0, -50%) rotate(-45deg);
}

._spoiler-init .menu-footer__title._spoiler-active::before {
  transform: translateX(-75%) rotate(-45deg);
}

._spoiler-init .menu-footer__title._spoiler-active::after {
  transform: rotate(45deg);
}

.menu-footer__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.625rem;
  -moz-column-gap: 42px;
       column-gap: 42px;
  font-weight: 300;
  line-height: 156.25%;
  /* 25px/16 */
}

.menu-footer__link {
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.menu-footer__link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.socials__link {
  font-size: 1.5rem;
  transition: all 0.3s ease 0s;
}

.socials__link:hover {
  color: #FFFFFF;
}

.subscribe {
  padding-left: 0;
}

.subscribe__body {
  align-self: center;
}

.subscribe__title {
  font-family: Italiana;
  font-size: calc(20px + 12 * (100vw - 320px) / 1600);
  line-height: 120%;
  text-transform: capitalize;
}

.subscribe__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.subscribe__form {
  display: flex;
  border-bottom: 0.0625rem solid rgba(194, 177, 130, 0.199);
  height: 2.5rem;
}

.subscribe__input {
  flex: 1 1 auto;
  background-color: transparent;
}

.subscribe__input::-moz-placeholder {
  color: #C1B081;
}

.subscribe__input::placeholder {
  color: #C1B081;
}

.subscribe__input:focus {
  border: 0.125rem solid #C1B081;
  background-color: rgba(194, 177, 130, 0.3);
}

.subscribe__button {
  background-color: transparent;
  color: #C1B081;
  transition: all 0.3s ease 0s;
}

.subscribe__button:hover {
  color: #FFFFFF;
}

@media (min-width: 47.99875em) {
  .subscribe {
    padding-left: 40px;
    display: grid;
    justify-items: end;
    border-left: 0.0625rem solid #C1B081;
  }

  .subscribe__body {
    max-width: 21.6875rem;
  }
}

@media (min-width: 61.99875em) {
  .footer__content {
    border-right: 0.0625rem solid #C1B081;
  }
}

@media (max-width: 1572px) {
  .header__container {
    min-height: calc(70px + 82 * (100vw - 320px) / 1252);
  }

  .header__logo {
    width: calc(78px + 139 * (100vw - 320px) / 1252);
  }

  .footer__body {
    padding-top: calc(35px + 57 * (100vw - 320px) / 1252);
  }

  .footer__body {
    padding-bottom: calc(20px + 25 * (100vw - 320px) / 1252);
  }

  .footer__content {
    padding-right: calc(15px + 25 * (100vw - 320px) / 1252);
  }

  .footer__logo {
    width: calc(140px + 147 * (100vw - 320px) / 1252);
  }

  .footer__menu:not(:last-child) {
    margin-bottom: calc(20px + 20 * (100vw - 320px) / 1252);
  }

  .footer__socials {
    -moz-column-gap: calc(15px + 27 * (100vw - 320px) / 1252);
         column-gap: calc(15px + 27 * (100vw - 320px) / 1252);
  }

  .footer__copy {
    padding-top: calc(15px + 27 * (100vw - 320px) / 1252);
  }

  .footer__copy {
    padding-bottom: calc(15px + 20 * (100vw - 320px) / 1252);
  }

  .menu-footer__list {
    -moz-column-gap: calc(10px + 32 * (100vw - 320px) / 1252);
         column-gap: calc(10px + 32 * (100vw - 320px) / 1252);
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    grid-template-columns: auto auto auto;
  }

  .actions-header__button {
    padding: 0.375rem 1.25rem;
    min-height: 0.125rem;
  }

  .footer__body {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__content {
    order: 2;
  }

  .footer__logo {
    order: 1;
    grid-column: span 2;
  }

  .footer__logo:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .footer__subscribe {
    order: 3;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    display: grid;
    gap: 0rem;
    grid-template-columns: auto 1fr auto auto;
  }

  .menu-open .header__logo path {
    fill: #FFFFFF;
  }

  .menu__body {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2.5rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #C1B081;
    padding: 6.25rem 1.875rem 4.375rem 1.875rem;
    transition: all 0.3s ease 0s;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 2;
    background-color: #C1B081;
    height: 152px;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::after {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
    row-gap: 2.5rem;
  }

  .menu__link {
    color: #FFFFFF;
    font-size: 1.5rem;
  }

  .actions-header {
    justify-content: center;
  }

  .actions-header__link {
    color: #FFFFFF;
  }

  .actions-header__button {
    border: 0.0625rem solid #FFFFFF;
    color: #FFFFFF;
  }

  .icon-menu {
    margin-left: 32px;
    display: block;
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.125rem;
    right: 0;
    background-color: #C1B081;
    transition: all 0.3s ease 0s;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #FFFFFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    top: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }

  .footer__body {
    grid-template-columns: auto;
  }

  .footer__content {
    order: 3;
  }

  .footer__logo {
    order: 2;
    grid-column: span 1;
  }

  .footer__subscribe {
    order: 2;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 1572px) {
  .menu__body::after {
    height: calc(70px + 82 * (100vw - 320px) / 1252);
  }

  .icon-menu {
    margin-left: calc(15px + 17 * (100vw - 320px) / 1252);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 47.99875em) and (max-width: 1572px) {
  .subscribe {
    padding-left: calc(15px + 25 * (100vw - 320px) / 1252);
  }
}